{% extends 'base.html' %}


{% block title1 %}
index
{% endblock %}


{% block link1 %}
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    'use strict';

    function handle_url(url, id) {
        var id1 = "#" + id;
        $(id1).click(function () {
            // $(this).addClass("active").siblings().removeClass("active");
            var url1 = url + '?id=' + id;
            window.location.href = url1;
        });
    }


</script>

{% block link2 %}
{% endblock %}

{% endblock %}




{% block main %}
    {# 此处为导航条设置 #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crm/">PerCRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ username }}</a></li>
          </ul>
{#          <form class="navbar-form navbar-right">#}
{#            <input type="text" class="form-control" placeholder="Search...">#}
{#          </form>#}
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">

        {# 左侧菜单选项 #}
        <div id="left_menu" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <br>
          <br>
          <br>
          <br>
            {% for role in username.roles.all %}
              {% for menu in role.menu.all %}
{#              <li class="active"><a href="{% url menu.url_name %}">{{ role.name }}<span class="sr-only">(current)</span></a></li>#}
                <li id="{{ menu.id }}"><a href="javascript:;" onclick="handle_url('{% url menu.url_name %}', {{ menu.id }})">{{ role.name }}</a></li>
              {% endfor %}
            {% endfor %}
{#            <li class="active"><a href="/crm/">Overview <span class="sr-only">(current)</span></a></li>#}
{#            <li><a href="/crm/#">Reports</a></li>#}
{#            <li><a href="/crm/">Analytics</a></li>#}
{#            <li><a href="/crm/#">Export</a></li>#}
          </ul>
        </div>

        {# 右侧显示主体 #}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content1 %}
          <h1 class="page-header">欢迎使用PerCRM平台</h1>
          {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}