<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %} - Mftour</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/date/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/jquery.js" type="application/javascript"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/static/bootstrap/date/bootstrap-datetimepicker.min.js" type="application/javascript"></script>
    <script src="/static/layer/layer.js" type="application/javascript"></script>
    <script src="/static/common.js" type="application/javascript"></script>
    <style>
    </style>
{% block head %}
{% endblock %}
</head>
<body>
<input id="sessionUserName" value="{{request.session.member_sn}}" type="hidden"/>
    {% block content %}
    ？
    {% endblock %}
</body>
</html>