{% extends 'base_bt1.html' %}

{% block title %}
天天生鲜-登录
{% endblock %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/csrftoken.js"></script>
    <script type="text/javascript">
        $(function(){

            var input_name_null = true;
            var input_null = true;
            var username_cookie = '';

            function chk_cookie(){
                username_cookie = $.cookie('uname');
                if(typeof(username_cookie) == "undefined"){
                    username_cookie = '';
                }

                $("#btn_username").val(username_cookie);
                $("#btn_password").val('');
            }

            chk_cookie();


            function check_null(){
                if($("#btn_username").val().length == 0){
                    input_name_null = true;
                    $("#btn_username").next().html('请输入用户名')
                    $("#btn_username").next().show();
                }else{
                    input_name_null = false;
                    $("#btn_username").next().hide();
                }


                if($("#btn_password").val().length == 0){
                    input_null = true;
                    $("#btn_password").next().html('请输入密码')
                    $("#btn_password").next().show();
                }else{
                    input_null = false;
                    $("#btn_password").next().hide();
                }

                var res = !input_name_null && !input_null;
                return res;

            }



            $("#login_form").submit(function () {

                var res1 = check_null();

                if(res1){
                    $.ajax({
                        url: '/user/login_handle/',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            username: $("#btn_username").val(),
                            password: $("#btn_password").val(),
                            rem_status: $("#btn_checkbox").prop("checked"),
                        },
                    })
                    .done(function(data) {
                        var user_exist = data.response_code.user_exist;
                        var pwd_check = data.response_code.pwd_check;

                        if(user_exist == 0) {
                            $("#btn_username").next().html('用户名不存在');
                            $("#btn_username").next().show();
                            $("#btn_password").val('');
                        }else if(user_exist == 1){
                            if(pwd_check == 0){
                                $("#btn_username").next().html('用户名或密码输入错误，请核对后重新输入');
                                $("#btn_username").next().show();
                                $("#btn_password").val('');
                            }else if(pwd_check == 1){
                                $("#btn_username").next().hide();
                                {#location.href = '/user/info/';#}
                                url = '{{ request_path }}';
                                location.href = url;
                            }


                        }


                    })
                    .fail(function() {
                        console.log("error");
                    })

                }

                return false;

            });
        })


    </script>
{% endblock %}

{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form id="login_form" action="/user/login_handle/" method="post">
                        {% csrf_token %}
						<input id="btn_username" type="text" name="username" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input id="btn_password" type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input id="btn_checkbox" type="checkbox" name="rem_status" value="1">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input id="btn_login" type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}