{% extends "base_bt2.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block link2 %}
{#	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">#}
{#	<link rel="stylesheet" type="text/css" href="/static/css/main.css">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/main.css">#}
{#    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>#}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/csrftoken.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#recvinfo_put").submit(function () {
                var recv_username = $("#btn_username").val();
                var recv_addr = $("#btn_addr").val();
                var recv_postcode = $("#btn_postcode").val();
                var recv_phone = $("#btn_phone").val();

                console.log(recv_username, recv_addr, recv_phone, recv_postcode);

                $.ajax({
                        url: '/user/site_handle/',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            recv_username: recv_username,
                            recv_addr: recv_addr,
                            recv_postcode: recv_postcode,
                            recv_phone: recv_phone,
                        },
                    })
                    .done(function(data) {
                        if(data.status == 'ok'){
                            window.location.reload();
                        }
                    })
                    .fail(function() {
                        console.log("error");
                    })

                return false;

            })


        })




    </script>

{% endblock %}


{% block title2 %}
用户中心
{% endblock %}


{% block site_active %}
class="active"
{% endblock %}


{% block main %}
    <div class="right_content clearfix">
        <h3 class="common_title2">{% block h1 %}收货地址{% endblock %}</h3>
        <div class="site_con">
            <dl>
                <dt>当前地址：</dt>
                <dd>{{ recv_addr }}（{{ recv_username }} 收） 电话: {{ recv_phone }} 邮编: {{ recv_postcode }}</dd>
            </dl>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form id="recvinfo_put">
                {% csrf_token %}
                <div class="form_group">
                    <label>收件人：</label>
                    <input id="btn_username" type="text" name="" value="{{ recv_username }}">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea id="btn_addr" class="site_area">{{ recv_addr }}</textarea>
                </div>
                <div class="form_group">
                    <label>邮编：</label>
                    <input id="btn_postcode" type="text" name="" value="{{ recv_postcode }}">
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input id="btn_phone" type="text" name="" value="{{ recv_phone }}">
                </div>

                <input type="submit" name="" value="提交" class="info_submit">
            </form>
        </div>
    </div>


{% endblock %}



