{% extends 'DatabaseManager/base.html' %}

{% block title %}添加DB{% endblock %}

{% block head %}
    <script type="application/javascript">
        function check() {
            var db_name = $("input[name='db_name']").val();
            var host_ip = $("input[name='host_ip']").val();

            var errMsg = [];
            if (!db_name || !db_name.trim()) {
                errMsg.push('数据库名 不能为空！');
            }
            if (!host_ip || !host_ip.trim()) {
                errMsg.push('数据库地址 不能为空！');
            }
            if (errMsg.length > 0) {
                layer.msg(errMsg.join("<br/>"));
                return false;
            }
            return true;
        }
    </script>
{% endblock %}

{% block content %}

    <div style="max-width: 800px;" class="container">
        <h2 align="center">添加DB</h2>
        <form class="form-horizontal" role="form" method="post" onsubmit="return check();">
            {% csrf_token %}

            <div class="form-group">
                <label class="col-sm-3 control-label"> 数据库名 </label>
                <div class="col-sm-9">
                    <input name="db_name" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 数据库类型 </label>
                <div class="col-sm-9">
                    <select name="db_type" class="form-control">
                        <option value=1>单机</option>
                        <option value=2>主从</option>
                        <option value=3>集群</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 数据库地址 </label>
                <div class="col-sm-9">
                    <input name="host_ip" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 端口 </label>
                <div class="col-sm-9">
                    <input name="port" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 环境 </label>
                <div class="col-sm-9">
                    <select name="env_id" id="env_id" class="form-control">
                        <option value=1>Online环境</option>
                        <option value=2>Stage环境</option>
                        <option value=3>测试环境</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 负责人 </label>
                <div class="col-sm-9">
                    <select name="db_manager_id" class="form-control">
                        {% for dba in DBAs %}
                            <option value={{ dba.id }}>{{ dba.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"> 备注 </label>
                <div class="col-sm-9">
                    <textarea id="detail" name="detail" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}