{% extends 'base.html' %}


{% block title1 %}
crm_admin-index
{% endblock %}


{% block main %}
    {# 此处为导航条设置 #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crm/">PerCRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ username }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <h1 style="margin: 0px 35px;font-size: 20px;color: #666666">站点管理</h1>
    <br>
    <div class="container-fluid" style="margin: 0px 20px;">

        <div class="row">
            <div class="col-lg-5">
                  <!-- Table -->
                  {% load rend_admin_class %}
                  {% for app, tables in enabled_admins.items %}
                  <table class="table">
                    <thead>
                        <tr style="background-color: #79AEC8;">
                            <td style="color: #f3f3f3">{{ app|upper }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>

                    <tbody style="border-bottom: 1px solid #DDDDDD">
                        {% for table_name, admin in tables.items %}
                        <tr>
                            <td class="col-lg-10"><a href="/crm_admin/{{ app }}/{{ table_name }}/"><b>{% rend_admin_class admin %}</b></a></td>
                            <td class="col-lg-1 text-center"><a href="#">增加</a></td>
                            <td class="col-lg-1"><a href="#">修改</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                  </table>
                  {% endfor %}
                </div>

            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
{% endblock %}