{% extends 'base.html' %}


{% block title1 %}
crm_admin_index
{% endblock %}


{% block link1 %}
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    'use strict';
</script>

{% block link2 %}
{% endblock %}

{% endblock %}

{% block main %}
    {# 此处为导航条设置 #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crm/">PerCRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ username }}</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
        <br>
        <br>
        <div class="row">
            <table class="table table-hover" style="border: 1px solid #ddd;">
                {% load rend_admin_class %}
                {% for app, tables in enabled_admins.items %}
                    <thead>
                        <tr class="warning">
                            <th>{{ app|upper }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>


                    {% for table_name, admin in tables.items %}

                        <tbody>
                            <tr>
    {#                          <th scope="row">1</th>#}

                                <td class="col-lg-10"><a href="/crm_admin/{{ app }}/{{ table_name }}/"><b>{% rend_admin_class admin %}</b></a></td>
                                <td class="col-lg-1 text-center"><a href="#">增加</a></td>
                                <td class="col-lg-1"><a href="#">修改</a></td>

                            </tr>
                        </tbody>

                    {% endfor %}
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}