{% extends 'base.html' %}
{% load rend_admin_class %}

{% block title1 %}
models-index
{% endblock %}


{% block link1 %}
    <style type="text/css">
        .con{
            {#background-color: #f7ecb5;#}
            position: relative;
            height: 25px;
            margin: 0px auto;
            padding-left: 35px;
            padding-right: 35px;
        }

        .fl-le{
            float: left;
            list-style-type: none;
            font-size: 20px;
            line-height: 25px;
            color: #666666;
        }

        .fl-ri{
            float: right;
            width: 100px;
            list-style-type: none;
            line-height: 25px;
            background-color: #a8a8a8;
            font-size: 12px;
            text-align: center;
            color: #f3f3f3;
        }

        .fl-ri:hover{
            background-color: #666666;
            cursor: pointer;
        }


    </style>
    {% block link11 %}{% endblock %}
{% endblock %}


{% block main %}
    {# 此处为导航条设置 #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crm/">PerCRM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ username }}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid " style="padding: 0px;">
            {% block path_menu %}
            <ol class="breadcrumb" style="background-color: #DBDBDB" >
                <li><a href="/crm_admin/">Home</a></li>
                <li class="active">Crm</li>
            </ol>
            {% endblock %}
    </div>
    <div>
        <ul class="con">
            <li class="fl-le">{% block le-title %}Crm管理{% endblock %}</li>
            <li class="fl-ri">{% block ri-title %}{% endblock %}</li>
        </ul>
    </div>
    <br>
    <div class="container-fluid" style="margin: 0px 20px;">
        {% block models_table %}
        <div class="row">
            <div class="col-lg-5">
              <!-- Table -->
              <table class="table">

                {% for app, tables in enabled_admins.items %}
                <thead>
                    <tr style="background-color: #79AEC8;">
                        <td style="color: #f3f3f3">{{ app|upper }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody style="border-bottom: 1px solid #DDDDDD">
                    {% for table_name, admin in tables.items %}
                    <tr>
                        <td class="col-lg-10"><a href="/crm_admin/{{ app }}/{{ table_name }}/"><b>{% rend_admin_class admin %}</b></a></td>
                        <td class="col-lg-1 text-center"><a href="#">增加</a></td>
                        <td class="col-lg-1"><a href="#">修改</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
              </table>

            </div>
            <div class="col-lg-7"></div>
        </div>
        {% endblock %}
    </div>
{% endblock %}