{% extends 'crm_admin/models_index.html' %}
{% load rend_admin_class %}


{% block title1 %}
table-change
{% endblock %}


{% block link11 %}
    <style type="text/css">
        .circle{
            height: 30px;
            width: 250px;
            padding-left: 5px;
            border-radius:4px;
            border:1px solid #DBDBDB;
        }

        .con2{
            position: relative;
            height: 50px;
            position: relative;
            padding: 0px;
        }

        .con2 li{
            list-style-type: none;
            float: left;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 50px;
        }


        .ri-btm1{
            position: absolute;
            right: 0px;
        }


    </style>
{% endblock %}


{% block path_menu %}
 <ol class="breadcrumb" style="background-color: #DBDBDB" >
    <li><a href="/crm_admin/">Home</a></li>
    <li><a href="/crm_admin/{{ parent1_url }}/{{ parent2_url }}/">{{ parent1_url }}</a></li>
    <li><a href="/crm_admin/{{ parent1_url }}/{{ parent2_url }}/">{{ parent2_url }}</a></li>
    <li class="active">{{ model.qq }}</li>
 </ol>

{% endblock %}


{% block le-title %}
修改 {% getVerboseName model %}
{% endblock %}


{% block ri-title %}
历史
{% endblock %}


{% block models_table %}
    <div class="row" style="padding-left: 15px;">
        <table class="table">
            <tbody style="border-bottom: 1px solid #DDDDDD">
                {% get_field model as model_fields %}
                {% for item in model_fields %}
                {% get_field_info model item as field_info %}

                <tr>
                    {% if field_info.field_type == 'AutoField' %}
                    {% elif field_info.field_type == 'CharField' %}
                        {% if field_info.field_name == None %}
                            <td style="width: 150px">{{ item.verbose_name }}:</td>
                            <td><input class="circle" type="text" value=""></td>
                        {% else %}
                            <td style="width: 150px"><b>{{ item.verbose_name }}:</b></td>
                            <td><input class="circle" type="text" value="{{ field_info.field_name }}"></td>
                        {% endif %}
                    {% elif field_info.field_type == 'PositiveSmallIntegerField' or field_info.field_type == 'PositiveIntegerField' or field_info.field_type == 'SmallIntegerField'%}
                        {% get_int_choices model item as res %}
                        {% if res.status == 1 %}
                            <td><b>{{ item.name }}:</b></td>
                            <td>
                                <select class="circle" style="width: 100px;">
                                    {% for aa in res.choices %}
                                        {% if aa.1 == res.selected %}
                                        <option selected>{{ aa.1 }}</option>
                                        {% else %}
                                        <option>{{ aa.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
{#                                    <option>QQ1群</option>#}
{#                                    <option>QQ群</option>#}
                                </select>
                            </td>
                        {% elif res.status == 0 %}
                            <td style="width: 150px"><b>{{ item.verbose_name }}:</b></td>
                            <td><input class="circle" type="text" value="{{ field_info.field_name }}"></td>
                        {% endif %}

                    {% elif field_info.field_type == 'ForeignKey' %}
                        {% get_foreignkey_info model item as res %}
                        <td><b>{{ item.verbose_name }}:</b></td>
                        <td>
                            <select class="circle" style="width: 100px;">#}
                                {% for aa in res.relate_model_list %}
                                    {% if aa.name == res.relate_model_self.name %}
                                        <option selected>{{ aa }}</option>
                                    {% else %}
                                        <option>{{ aa }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    {% elif field_info.field_type == 'TextField' %}
                        <td><b>{{ item.verbose_name }}:</b></td>
                        <td>
                            <textarea class="circle" style="width: 480px; height: 220px;">{{ field_info.field_name }}</textarea>
                        </td>

                    {% elif field_info.field_type == 'ManyToManyField' %}
                        <td><b>{{ item.verbose_name }}:</b></td>
                        <td>
                            <select multiple class="circle" style="width: 100px;">
                                <option selected>QQ群1</option>
                                <option>QQ群2</option>
                                <option>QQ群3</option>
                                <option>QQ群1</option>
                                <option selected>QQ群2</option>
                                <option>QQ群3</option>
                            </select>
                        </td>

                    {% endif %}


                </tr>
                {% endfor %}
{#                <tr>#}
{#                    <td style="width: 150px"><b>name:</b></td>#}
{#                    <td><input class="circle" type="text" value="张三"></td>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>QQ:</td>#}
{#                    <td><input class="circle" type="text" value="1316135587"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Scource:</td>#}
{#                    <td>#}
{#                        <select class="circle" style="width: 100px;">#}
{#                            <option>QQ群</option>#}
{#                            <option>QQ群</option>#}
{#                            <option>QQ群</option>#}
{#                        </select>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>咨询课程详情:</td>#}
{#                    <td>#}
{#                        <textarea class="circle" style="width: 480px; height: 220px;">ldskjfklsd</textarea>#}
{#                    </td>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>Flags:</td>#}
{#                    <td>#}
{#                        <select multiple class="circle" style="width: 100px;">#}
{#                            <option>QQ群1</option>#}
{#                            <option>QQ群2</option>#}
{#                            <option>QQ群3</option>#}
{#                            <option>QQ群1</option>#}
{#                            <option>QQ群2</option>#}
{#                            <option>QQ群3</option>#}
{#                        </select>#}
{#                    </td>#}
{#                </tr>#}

            </tbody>

        </table>
        <br>
        <br>
        <div style="background-color: #F8F8F8">
          <ul class="con2">
              <li><a href="#"><button class="btn btn-danger">删除</button></a></li>
              <li class="ri-btm1">
                <button type="submit" class="btn btn-primary">保存并增加另一个</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">保存</button>
              </li>
          </ul>
        </div>
      </form>

      <br>
      <br>
      <br>

    </div>
{% endblock %}