{% extends 'sys/base.html' %}

{% block title %}欢迎光临首页{% endblock %}

{% block content %}

    <div class="container">
        <p><a href="{% url 'sys_add' %}" class="btn btn-default">系统添加</a></p>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <td>系统名称:</td>
                <td>系统负责人</td>
                <td>产品负责人</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for items in sys_list %}
                <tr>
                    <td>{{ items.sys_name }}</td>
                    <td>{{ items.owner_id }}</td>
                    <td>{{ items.pd_id }}</td>
                    <td><a href="{% url 'sys_edit' %}?sys_id={{ items.sys_id }}">编辑</a>
                        {% if request.session.member_id == 1 %}
                            <a href="{% url 'sys_del' %}?sys_id={{ items.sys_id }}">删除</a>
                        {% endif %}</td>
                    <!--<td>{{ items }}</td>-->
                    <!--<td>{{items}}</td>-->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


