{% extends "base_bt3.html"%}

{% block title %}
天天生鲜-商品详情
{% endblock %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <style type="text/css">
        .detail_img{
            width: 350px;
            height: 350px;
        }

    </style>
{#    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>#}
    <script type="text/javascript">
        $(function(){

            // 加入购物车动画
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;

			var $to_x = $('#show_count').offset().top;
			var $to_y = $('#show_count').offset().left;


			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
			$('#add_cart').click(function(){
				$(".add_jump").stop().animate({
						'left': $to_y+7,
						'top': $to_x+7
					},
					300, function() {
						$(".add_jump").fadeOut('fast',function(){
							// $('#show_count').html(2);
							$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});

                            var goods_id = {{ goods_info.id }};
                            var goods_count = parseInt($("#num").val());

                            // console.log(goods_id, goods_count);

							$.ajax({
                                url: '/cart/add/',
                                type: 'GET',
                                dataType: 'json',
                                {#jsonpCallback: aa,#}
                                data: {
                                    goods_id: goods_id,
                                    goods_count: goods_count,
                                },
                            })
                            .done(function(data) {
                                var num1 = data.cart_number;
                                $("#show_count").html(num1);
                            })
                            .fail(function() {
                                console.log("error");
                            });

						}
					);

				});



			});





            $("#add").click(function () {

                var unit_price = {{ goods_info.gprice }}
                var current_num = parseInt($("#num").val());
                current_num += 1;
                var current_price = Number(unit_price*current_num).toFixed(2);

                $("#num").val(current_num);
                $("#sum span").html(current_price);

            });

            $("#sub").click(function () {
                var unit_price = {{ goods_info.gprice }}
                var current_num = parseInt($("#num").val());
                current_num -= 1;
                if(current_num == 0){
                    return false;
                }
                var current_price = Number(unit_price*current_num).toFixed(2);

                $("#num").val(current_num);
                $("#sum span").html(current_price);
            });

            $("#num").blur(function () {
                var unit_price = {{ goods_info.gprice }};
                var current_num = parseInt($("#num").val());

                if(current_num <= 0 || isNaN(current_num)){
                    current_num = 1;
                }

                var current_price = Number(unit_price*current_num).toFixed(2);

                $("#num").val(current_num);
                $("#sum span").html(current_price);

            });

        })


    </script>

{% endblock %}


{% block main %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/list?tid=3&index=1&sort=0" class="fruit">新鲜水果</a></li>
					<li><a href="/list?tid=4&index=1&sort=0" class="seafood">海鲜水产</a></li>
					<li><a href="/list?tid=5&index=1&sort=0" class="meet">猪牛羊肉</a></li>
					<li><a href="/list?tid=6&index=1&sort=0" class="egg">禽类蛋品</a></li>
					<li><a href="/list?tid=7&index=1&sort=0" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list?tid=8&index=1&sort=0" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img class="detail_img" src="/static/{{ goods_info.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods_info.gtitle }}</h3>
			<p>{{ goods_info.gintroduction }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods_info.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods_info.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input id="num" type="text" class="num_show fl" value="1">
					<a id="add" href="javascript:;" class="add fr">+</a>
					<a id="sub" href="javascript:;" class="minus fr">-</a>
				</div> 
			</div>
            <div id="sum" class="total">总价：<em><span>{{ goods_info.gprice }}</span>元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for item in new_list %}
					<li>
						<a href="/{{ item.id }}/"><img src="/static/{{ item.gpic }}"></a>
						<h4><a href="/{{ item.id }}/">{{ item.gtitle }}</a></h4>
						<div class="prize">￥{{ item.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_info.gcontent }}</dd>
				</dl>
			</div>

		</div>
	</div>


	<div class="add_jump"></div>


{% endblock %}