{% extends 'Workorder/base.html' %}

{% block title %}上线申请{% endblock %}

{% block head %}
    <script type="text/javascript">
        function setChange(obj) {
            var sValue = obj.options[obj.options.selectedIndex].value;
            if (sValue == '1') {
                document.getElementById('bug_fix').style.display = "";
                document.getElementById('db_apply').style.display = "none";
            }
            else if (sValue == '3') {
                document.getElementById('bug_fix').style.display = "none";
                document.getElementById('db_apply').style.display = "";
            }
        }
        function init_div() {
            document.getElementById('bug_fix').style.display = "";
            document.getElementById('db_apply').style.display = "none";

            document.getElementById('bug_db_name').setAttribute("disabled", "disabled");
            document.getElementById('bug_sql').setAttribute("disabled", "disabled");
        }
        function dbChange(obj) {
            var value = obj.options[obj.options.selectedIndex].value;
            if (value == '0') {
                document.getElementById('bug_db_name').setAttribute("disabled", "disabled");
                document.getElementById('bug_sql').setAttribute("disabled", "disabled");
                document.getElementById('auto_deploy').removeAttribute("disabled");
            }
            else {
                document.getElementById('bug_db_name').removeAttribute("disabled");
                document.getElementById('bug_sql').removeAttribute("disabled");
                document.getElementById('auto_deploy').setAttribute("disabled", "disabled");
            }
        }
        $(function () {
            init_div();
            $("#bug_sys_name").on("change", function () {
                var sysId = $(this).find(":selected").val();
                $("#bug_pj_name .bug_pj_sys").hide();
                if (sysId) {
                    $("#bug_pj_name .bug_pj_sys_" + sysId).show();
                }
            })
            $("#bug_pj_name").on("change", function () {
                var git = $(this).find(":selected").data("git");
                console.log(git);
                $("#git").html(git);
                var branch = $(this).find(":selected").data("branches");
                branch = branch.substring(1);
                branch = branch.substring(0, branch.length-1);
                var branch_array = branch.split(", ");
                $("#bug_branch").empty();
                $.each(branch_array, function(i, item){
                    item = item.substring(2, item.length-1);
                    $("#bug_branch").append($("<option/>").text(item).attr("value",item));
                });
            })
            $("#db_apply_sys_name").on("change", function () {
                var sysId = $(this).find(":selected").val();
                $("#db_apply_pj_name .db_pj_sys").hide();
                if (sysId) {
                    $("#db_apply_pj_name .db_pj_sys_" + sysId).show();
                }
            })
        })
        function check() {
            var type = $("#type").val();
            var errMsg = [];
            if (type == 1) {
                if (!$("#bug_sys_name").val()) {
                    errMsg.push("请选择 系统名称！");
                }
                if (!$("#bug_pj_name").val()) {
                    errMsg.push("请选择 工程名称！");
                }
            }
            if (type == 3) {
                if (!$("#db_apply_sys_name").val()) {
                    errMsg.push("请选择 系统名称！");
                }
                if (!$("#db_apply_pj_name").val()) {
                    errMsg.push("请选择 工程名称！");
                }
            }
            if (errMsg.length > 0) {
                layer.msg(errMsg.join("<br/>"));
                return false;
            }
            return true;
        }
    </script>
{% endblock %}

{% block content %}
    <div style="max-width: 800px;" class="container" align="center">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
              onsubmit="return check();">
            <h2 align="center">上线申请</h2>
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-3 control-label">上线类型:</label>
                <div class="col-sm-9">
                    <select id="type" name="type" onchange="setChange(this)" class="form-control">
                        <option selected="selected" value="1">应用上线申请</option>
                        <!--<option value="2">项目上线</option>-->
                        <option value="3">数据库上线</option>
                        <!--<option value="4">紧急上线</option>-->
                    </select>
                </div>
            </div>

            <div id="bug_fix">

                <div class="form-group">
                    <label class="col-sm-3 control-label">BUG_ID</label>
                    <div class="col-sm-9">
                        <input type="text" id="bug_id" name="bug_id" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">系统名称</label>
                    <div class="col-sm-9">

                        <select id="bug_sys_name" name="bug_sys_name" class="form-control" >
                            <option value=''>请选择系统名称</option>

 <!--                        <select id="bug_sys_name" name="bug_sys_name" class="form-control">
                            <option value=''>-</option> -->

                            {% for items in sys_info %}
                                <option value='{{ items.sys_id }}'>{{ items.sys_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">工程名称</label>
                    <div class="col-sm-9">

                        <select id="bug_pj_name" name="bug_pj_name" class="form-control" >
                            <option value=''>请选择工程名称</option>

<!--                         <select id="bug_pj_name" name="bug_pj_name" class="form-control">
                            <option value=''>-</option> -->

                            {% for items in prj_info %}
                                <option value='{{ items.pjt_id }}' class="bug_pj_sys bug_pj_sys_{{ items.sys_id }}"
                                        style="display: none"
                                        data-git="{{ items.git_addr }}"
                                        data-branches="{{ items.branches }}">{{ items.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">数据库操作</label>
                    <div class="col-sm-9">
                        <select id="bug_db_change" name="bug_db_change" onchange="dbChange(this)" class="form-control">
                            <option selected="selected" value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">数据库名称</label>
                    <div class="col-sm-9">
                        <select id="bug_db_name" name="bug_db_name" class="form-control">
                            {% for items in db_info %}
                                <option value={{ items.db_id }}>{{ items.db_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">数据库SQL</label>
                    <div class="col-sm-9">
                        <input type="file" id="bug_sql" name="bug_sql" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">配置变更</label>
                    <div class="col-sm-9">
                        <select id="bug_conf_change" name="bug_conf_change" class="form-control">
                            <option selected="selected" value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">GIT地址</label>
                    <div class="col-sm-9">
                        <p class="form-control" id="git">-</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">上线分支</label>
                    <div class="col-sm-9">
                    
                        <select class="form-control" id="bug_branch" name="bug_branch">
                        </select> 
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">上线内容</label>
                    <div class="col-sm-9">
                        <textarea id="bug_online_content" name="bug_online_content" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">模块以及系统影响</label>
                    <div class="col-sm-9">
                        <textarea id="bug_effect" name="bug_effect" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">上线方案</label>
                    <div class="col-sm-9">
                        <textarea id="bug_online_plan" name="bug_online_plan" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">配置变更</label>
                    <div class="col-sm-9">
                        <textarea id="bug_conf_txt" name="bug_conf_txt" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">自动部署时间</label>
                    <div class="col-sm-9">
                        <select id="auto_deploy" name="auto_deploy"  class="form-control">
                            <option selected="selected" value="0">手动部署</option>
                            <option value="5">5分钟</option>
                            <option value="10">10分钟</option>
                            <option value="30">30分钟</option>
                            <option value="60">60分钟</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="db_apply" align="center">
                <div class="form-group">
                    <label class="col-sm-3 control-label">系统名称</label>
                    <div class="col-sm-9">
                        <select id="db_apply_sys_name" name="db_apply_sys_name" class="form-control">
                            <option value=''>-</option>
                            {% for items in sys_info %}
                                <option value={{ items.sys_id }}>{{ items.sys_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">工程名称</label>
                    <div class="col-sm-9">
                        <select id="db_apply_pj_name" name="db_apply_pj_name" class="form-control">
                            <option value=''>-</option>
                            {% for items in prj_info %}
                                <option value='{{ items.pjt_id }}' class="db_pj_sys db_pj_sys_{{ items.sys_id }}"
                                        style="display: none">{{ items.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">数据库名称</label>
                    <div class="col-sm-9">
                        <select id="db_apply_db_id" name="db_apply_db_id" class="form-control">
                            {% for items in db_info %}
                                <option value={{ items.db_id }}>{{ items.db_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">备份SQL</label>
                    <div class="col-sm-9">
                        <input type="file" id="db_apply_sql" name="db_apply_sql" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">备注</label>
                    <div class="col-sm-9">
                        <textarea id="db_apply_detail" name="db_apply_detail" class="form-control"></textarea>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

