{% extends 'Workorder/base.html' %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <body align="center">
    <form method="post">
        {% csrf_token %}
        <div align="center">
            <table align="center" border="1" cellspacing="0" cellpadding="10">
                <tr>
                    <td>上线单名称</td>
                    <td>{{ order.order_id }}</td>
                </tr>
                <tr>
                    <td>工程名称</td>
                    <td>{{ order.project_name }}</td>
                </tr>
                <tr>
                    <td>系统负责人</td>
                    <td>{{ order.owner_name }}</td>
                </tr>
                <tr>
                    <td>数据库名称</td>
                    <td>{{ order.db_name }}</td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>{{ order.detail }}</td>
                </tr>
                <tr>
                    <td>数据库SQL</td>
                    <td><a href="{% url 'downloadFile' %}?id={{ order.id }}&name={{ order.order_name }}">下载</a></td>
                </tr>
                <tr>
                    <td>测试确认</td>
                    <td>
                        {% if order.status == 0 and grp_id == 555 %}
                            <button name="confirm" type="submit" value=1>确认</button>
                        {% elif order.status > 0 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 1 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>技术经理确认</td>
                    <td>
                        {% if order.status == 1 and grp_id == 888 %}
                            <button name="confirm" type="submit" value=2>确认</button>
                        {% elif order.status > 1 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 2 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>stage环境-数据库</td>
                    <td>
                        {% if order.status == 2 and grp_id == 666 %}
                            <button name="confirm" type="submit" value=3>确认</button>
                        {% elif order.status > 2 and order.db_change == 1 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 3 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>测试验收</td>
                    <td>
                        {% if order.status == 5 and grp_id == 555 %}
                            <button name="confirm" type="submit" value=6>确认</button>
                        {% elif order.status > 5 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 6 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>技术总监确认</td>
                    <td>
                        {% if order.status == 6 and grp_id == 999 %}
                            <button name="confirm" type="submit" value=7>确认</button>
                        {% elif order.status > 6 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 7 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>online环境-数据库</td>
                    <td>
                        {% if order.status == 7 and grp_id == 666 %}
                            <button name="confirm" type="submit" value=8>确认</button>
                        {% elif order.status > 7 and order.db_change == 1 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 8 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <a href="{% url 'home' %}">返回</a>
    </body>
{% endblock %}