{% extends 'Workorder/base.html' %}

{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <body align="center">
    <form method="post">
        {% csrf_token %}
        <div align="center">
            <table align="center" border="1" cellspacing="0" cellpadding="10">
                <tr>
                    <td>上线单名称</td>
                    <td>{{ order.order_name }}</td>
                </tr>
                <tr>
                    <td>工程名称</td>
                    <td>{{ order.project_name }}</td>
                </tr>
                <tr>
                    <td>系统负责人</td>
                    <td>{{ order.owner_name }}</td>
                </tr>
                <tr>
                    <td>是否有数据库更新</td>
                    <td>{% if order.db_change == 0 %}
                        否
                    {% else %}
                        是
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>配置变更</td>
                    <td>{% if order.cf_change == 0 %}
                        否
                    {% else %}
                        是
                    {% endif %}</td>
                </tr>
                {% if order.db_change == 1 %}
                    <tr>
                        <td>数据库名称</td>
                        <td>{{ order.db_name }}</td>
                    </tr>
                    <tr>
                        <td>数据库SQL</td>
                        <td><a href="{% url 'downloadFile' %}?id={{ order.id }}&name={{ order.order_name }}">下载</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>上线分支</td>
                    <td>{{ order.branch }}</td>
                </tr>
                <tr>
                    <td>上线内容</td>
                    <td>{{ order.detail }}</td>
                </tr>
                <tr>
                    <td>对其他模块/系统的影响</td>
                    <td>{{ order.effect }}</td>
                </tr>
                <tr>
                    <td>上线方案</td>
                    <td>{{ order.online_datail }}</td>
                </tr>
                <tr>
                    <td>配置变更</td>
                    <td>{{ order.conf_datail }}</td>
                </tr>
                <tr>
                    <td>自动部署时间</td>
                    <td>
                        {% if order.auto_deploy == 0 %}
                            手动部署
                        {% else %}
                            {{ order.auto_deploy }}分钟自动部署
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>测试确认</td>
                    <td>
                        {% if order.status == 0 and grp_id == 555 %}
                            <button name="confirm" type="submit" value=1>确认</button>
                        {% elif order.status > 0 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 1 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>技术经理确认</td>
                    <td>
                        {% if order.status == 1 and grp_id == 888 %}
                            <button name="confirm" type="submit" value=2>确认</button>
                        {% elif order.status > 1 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 2 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% if order.db_change == 1 %}
                    <tr>
                        <td>stage环境-数据库</td>
                        <td>
                            {% if order.status == 2 and grp_id == 666 %}
                                <button name="confirm" type="submit" value=3>确认</button>
                            {% elif order.status > 2 and order.db_change == 1 %}
                                {% for status_item in status_list %}
                                    {% if status_item.status == 3 %}
                                        {{ status_item.name }} {{ status_item.c_t }} 已确认
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>stage环境-系统</td>
                    <td>
                        {% if grp_id == 777 %}
                            {% if order.status == 2 and order.db_change == 0 or order.status == 3 %}
                                <button name="confirm" type="submit" value=4>领取任务</button>
                            {% elif order.status == 4 %}
                                {% for status_item in status_list %}
                                    {% if status_item.status == 4 %}
                                        {{ status_item.name }} {{ status_item.c_t }} 已领取任务
                                        <button name="confirm" type="submit" value=5>确认执行</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if order.status > 4 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 5 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认执行
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>测试验收</td>
                    <td>
                        {% if order.status == 5 and grp_id == 555 %}
                            <button name="confirm" type="submit" value=6>确认</button>
                        {% elif order.status > 5 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 6 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% if order.db_change == 1 %}
                    <tr>
                        <td>online环境-数据库</td>
                        <td>
                            {% if order.status == 6 and grp_id == 666 %}
                                <button name="confirm" type="submit" value=7>确认</button>
                            {% elif order.status > 6 and order.db_change == 1 %}
                                {% for status_item in status_list %}
                                    {% if status_item.status == 7 %}
                                        {{ status_item.name }} {{ status_item.c_t }} 已确认
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>online环境-系统</td>
                    <td>
                        {% if grp_id == 777 %}
                            {% if order.status == 6 and order.db_change == 0 or order.status == 7 %}
                                <button name="confirm" type="submit" value=8>领取任务</button>
                            {% elif order.status == 8 %}
                                {% for status_item in status_list %}
                                    {% if status_item.status == 8 %}
                                        {{ status_item.name }} {{ status_item.c_t }} 已领取任务
                                        <button name="confirm" type="submit" value=9>确认执行</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if order.status > 8 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 9 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认执行
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>技术总监确认</td>
                    <td>
                        {% if order.status == 9 and grp_id == 999 %}
                            <button name="confirm" type="submit" value=10>确认</button>
                        {% elif order.status > 9 %}
                            {% for status_item in status_list %}
                                {% if status_item.status == 10 %}
                                    {{ status_item.name }} {{ status_item.c_t }} 已确认
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <a href="{% url 'home' %}">返回</a>
    </body>
{% endblock %}