{% extends 'Workorder/base.html' %}

{% block title %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div style="max-width: 800px;" class="container" align="center">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
            <h2 align="center">选择上线系统</h2>
            {% csrf_token %}

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <td></td>
                    <td>系统名称</td>
                    <td>工程名称</td>
                    <td>系统负责人</td>
                    <td>产品负责人</td>
                </tr>
                </thead>
                <tbody>
                {% for items in pj_info %}
                    <tr>
                        <td><input type="checkbox" name="pj_id" value={{ items.pjt_id }}></td>
                        <td>{{ items.sys_name }}</td>
                        <td>{{ items.pjt_name }}</td>
                        <td>{{ items.owner_name }}</td>
                        <td>{{ items.pd_name }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" align="center">
                        <button type="submit" class="btn btn-default">提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'home' %}" class="btn btn-default">返回</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

{% endblock %}

